<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MonTatami/Ranking</title>
    <!--load the static file for the css stylesheet and link-->
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/ranking_club.css' %}">
</head>
<body>
    <header> 
        <h1><span style="font-size: 150%;">Classement du club</span></h1>
        <h2><span style="font-size: 120%;">{{ club.club_name }}</span></h2>
        <div class="belt_dan"></div>
        <div class="logo_header"><img src="{% static 'main/images/13th.png' %}" alt="Logo Website" class="logo"></div>
    </header>
    
    <div class="red_carpet">
        <div class="golden_line-left"></div>
        <div class="golden_line-right"></div>
    </div>
    
    <div class="grid-container_ranking_club">
        <div class="item-all_users_ranking">
            {% for member in members_club %}
                {% if member.is_admin is True %}
                    <label for="rank"><span style="color: green;font-weight: bolder;">(admin) </span><span style="font-weight: bold;">{{ member }}</span><span> - {{ member.points }} points</span></label><br>
                    <br>
                {% else %}
                    <label for="rank"><span style="font-weight: bold;">{{ member }}</span><span> - {{ member.points }} points</span></label><br>
                        <br>
                {% endif %}
            {% endfor %}
        </div>
        {% if request.user.is_admin is True %}
            <div class="item-admin_settings">
                <section>
                    <form action="{% url 'club_settings' %}" method="post">
                    {% csrf_token %}
                        <button type="submit">Paramètres du club</button>
                    </form>
                </section>
            </div>
        {% endif %}
        <div class="item-rollback_button">
            <section>
                <!--form for url rollback-->
                <form action="{% url 'home' %}" method="get">
                    <button type="submit">Retour</button>
                </form>
            </section>
        </div>
    </div>
</body>
</html>
