<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Mes badges</title>
<!--load the static file for css and link-->
{% load static %}
<link rel="stylesheet" href="{% static 'badges/css/badges_page.css' %}">
</head>
<body>
    <header> 
        <h1> <span style="font-size: 150%;font-weight: bolder;">Mes badges</span></h1> 
        <div class="belt_dan"></div>
        <div class="logo_header"><img src="{% static 'main/images/13th.png' %}" alt="Logo Website" class="logo"></div>
    </header>
    <div class="grid-container_badges_page">
                <div class="item-all_badges">
                    <!--display all the drill using format (name : description)-->
                    <ul>
                        <!--check all badges with user badges-->
                        {% for badges in all_badges %}
                            {% if badges.name in user_badge_names %}
                                <!--if user has the badge display his icon-->
                                <li>
                                    <img src="{% static badges.image_path %}" alt="{{ badges.name }}" width="60" height="60"><br>
                                    <label for="badge_{{ badges.id }}">
                                        <span style="font-weight: bold;">{{ badges.name }}:</span><span> {{ badges.description }}</span><br><br><span style="font-style: italic;">{{ badges.point }} points</span><br><span style="font-style: italic;font-weight: 600;">Débloqué</span>
                                    </label>
                                </li>
                            {% else %}
                                <!--else the badge icon is hidden-->
                                <li>
                                    <img src="{% static 'badges\images\badge_locked.png' %}" alt="{{ badges.name }}" width="60" height="60"><br>
                                    <label for="badge_{{ badges.id }}">
                                        <span style="font-weight: bold;">{{ badges.name }}:</span><span> {{ badges.description }}</span><br><br><span style="font-style: italic;">{{ badges.point }} points</span><br><span style="font-style: italic;font-weight: 600;">Bloqué</span>
                                    </label>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="item-button_rollback">
                    <!--form for url rollback-->
                    <form action="{% url 'home' %}" method="get">
                        <button type="submit">Retour</button>
                    </form>
                </div>
    </div>
</body>
</html>