body{ 
    background-color: #56a0d3;
    font-family:'Arial';
}

.grid-container_homepage {
  display: grid; /* set the grid */
  grid-template-columns: repeat(4, 1fr); /* Four equal columns */
  grid-template-rows: repeat(6,minmax(5rem,6rem)); /* set six equal rows from 5rem to 6rem size */
  color: aliceblue;


}

/*set all the items in the grid */
.title_homepage {
    grid-column: 1/-1; /* Spans two columns */
    grid-row: 1; 
    font-size: 150%;
    color: #f0f8ff;
    text-align: left;

}

.item-club {grid-column: 1; grid-row: 3;justify-items: center;align-items: center;text-align: center;} /*Club*/
.item-belt {grid-column: 1; grid-row: 4;justify-items: center;align-items: center;text-align: center;} /*Belt*/
.item-fav_submission {grid-column: 1; grid-row: 5; justify-items: center; align-items: center;text-align: center;} /*Submission*/
.item-fav_passage {grid-column: 1; grid-row: 6; justify-items: center; align-items: center;text-align: center;} /*Passage*/
.item-fav_guard {grid-column: 1; grid-row: 7; justify-items: center; align-items: center;text-align: center;} /*Guard*/

.item-victory {grid-column: 3/4; grid-row: 2;font-size: 600%;justify-items:center;align-items:center;text-align: center;margin-left: -40%;font-family: Impact, sans-serif;} /*Victory*/
.item-victory_button {grid-column: 3; grid-row: 5;justify-items:center;align-items:center;margin-left: -40%;} /*Victory button*/
.item-gold_medal  { grid-column: 2; grid-row: 6;margin-left: 20%;font-style: italic;text-align: center;} /* Gold */
.item-silver_medal  { grid-column: 3; grid-row: 6;margin-left: -25%;font-style: italic;text-align: center;} /* Silver */
.item-bronze_medal   { grid-column: 4; grid-row: 6;margin-left: -70%;font-style: italic;text-align: center; } /* Bronze */
.item-points {grid-column: 3; grid-row: 8;margin-left: 20%;font-style: italic;font-size: 120%;} /*Points*/

.item-drills_log {grid-column: 6; grid-row: 3;} /*Drills page*/
.item-badges_page {grid-column: 6; grid-row: 4;} /*Badges page*/
.item-user_settings {grid-column: 6; grid-row: 5;} /*Settings*/
.item-logout {grid-column: 6; grid-row: 6;} /*Logout*/



/*set buttons style*/
button {
  background-color: #828282;
  color: aliceblue;
  border: none;
  padding: 0.3rem 1.5rem;
  margin-bottom: 5%;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.75rem;
}

button:hover {
  background-color: #9b9b9b;
}

