body{ 
    margin: 0;
    background-color: rgb(121, 173, 219);
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    height: 100%;
  
}

header {
  position: fixed;
  background-color: #ffffff;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  padding: 20px;
  box-sizing: border-box;
  border-top: none;
  border-right: outset #e9e9e9;
  border-bottom: outset #e9e9e9;
  border-left: none;
  border-radius: 2px;
  box-shadow: 1px 0 5px 10px rgba(0,0,0,0.3);
}

.belt_dan {
  position: absolute;
  right: 10%;
  top: 0%;
  width: 250px;
  height: 100%;
  background-color: black;
  border-bottom: outset black;
  z-index: 1;

}
.logo_header {
  position: absolute;
  height: 100%; 
  display: flex;
  right: 0;
  top: 0;
  align-items: center; 
  z-index: 1;
}

.logo {
  height: 100%; 
  width: auto;  
  z-index: 1;
}

h1 {
    position: relative;
    text-align: center;
    color: black;
    margin-right: 15%;
    z-index: 2;
}
.grid-container_index {
    display: flex; /* set a flexbox */
    flex-direction: column; /* column models */
    align-items: center;
    gap: 1.5rem;
    height: 100vh; /* 50% vertical height of main */
    justify-content: center;
}
main{
  border: aliceblue inset 2px;
  background-color: aliceblue;
  padding: 8px;

}

.item-login{font-size: 120%;margin-bottom: 5%;}
.connect {
  position: relative;
}
.connect::before {
  content: "";
  pointer-events: none;
  position: fixed;
  top: 25%; left: 0;
  width: 100vw;
  height: 50vh;
  background-image: url("/static/main/images/connect.png");
  background-size: cover;
  background-position: center;
  z-index: -1;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.connect:hover::before {
  opacity: 0.8; 
}

.item-create_account{font-size: 120%;margin-bottom: 5%;}
.create_user {
  position: relative;
}
.create_user::before {
  content: "";
  pointer-events: none;
  position: fixed;
  top: 25%; left: 0;
  width: 100vw;
  height: 50vh;
  background-image: url("/static/main/images/create_user.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.create_user:hover::before {
  opacity: 0.8; 
}
.item-create_club{font-size: 120%;}
.create_club {
  position: relative;
}
.create_club::before {
  content: "";
  pointer-events: none;
  position: fixed;
  top: 25%; left: 0;
  width: 100vw;
  height: 50vh;
  background-image: url("/static/main/images/create_club.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.create_club:hover::before {
  opacity: 0.8; /* fait apparaître l’image au survol */
}

a {
    text-decoration: none; /* delete the underline */
    color: black; 
    font-weight: bold;   
}
/* when hover the link */
a:hover {
    text-decoration: underline; /* add the underline */
    font-style: italic;
}


/* create a tatami style using tatami tiles and judoka sprite */
.tatami {
    /* fix the position at the bottom of the page */
    position: fixed; 
    bottom: 0;
    left: 0;
    /* set the size */
    height: 2rem; 
    width: 100%;
    /* url of the tiles */
    background-image: url("/static/main/images/tatami.png");
    background-repeat: repeat-x; /* repeat horizontally */
    background-size: 32px 32px;  /* size of each tile */
    border-radius: 5%; /* arround the border */
}
.judoka  {
    /* fix the position at the bottom of the page */
    position: fixed;
    bottom: 2%;
    left: 25%;
    background-size: 64px 64px;  /* size of sprite */
    /* set on the tatami (foreground) */
    z-index: 100;
}




