<!--Create a user form:
-username + password
- firstname
- lastname
- club key
- belt
- fav submisison
- fav guard passage 
- fav guard
-->

<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Création de compte</title>
<!--load the static files for css and link-->
{% load static %}
<link rel="stylesheet" href="{% static 'accounts/css/create_account.css' %}">
</head>
<body>
    <!--set the container for the header/title-->
    <header> 
        <h1> <span style="font-size: 150%;font-weight: bold;">Créez ton compte</span></h1> 
        <div class="belt_dan"></div>
        <div class="logo_header"><img src="{% static 'accounts/images/oss.png' %}" alt="Logo Website" class="logo"></div>
    </header>
    <!--create a grid to manipulate items-->
    <div class="grid-container_create_account">
            <!--form to create an user-->
            <form action="{% url 'create_an_user' %}" method="post">
                {% csrf_token %}
                <!--container contains all label infos to create an user (all required !)-->
                <div class="item-form_user">
                    <ul>
                        <li>
                            <section>
                                <label for="username">
                                    <span style="margin-right: 4px; padding:2px;font-style: italic;font-weight: bold;border: aliceblue 2px;background-color: aliceblue;border-style: inset;">
                                        Nom d'utilisateur
                                    </span>
                                </label>
                                <input type="text" id="username" name="username" required/>
                            </section>
                            <br>
                        </li>
                        <li>
                            <section>
                                <label for="password">
                                    <span style="margin-right: 4px; padding:2px;font-style: italic;font-weight: bold;border: aliceblue 2px;background-color: aliceblue;border-style: inset;">
                                        Mot de passe
                                    </span>
                                </label>
                                <input type="password" id="password" name="password" required/>
                            </section>
                            <br>
                        </li>
                        <li>
                            <section>
                                <label for="firstname">
                                    <span style="margin-right: 4px; padding:2px;font-style: italic;font-weight: bold;border: aliceblue 2px;background-color: aliceblue;border-style: inset;">
                                        Prénom
                                    </span>
                                </label>
                                <input type="text" id="firstname" name="firstname" required/>
                            </section>
                            <br>
                        </li>
                        <li>
                            <section>
                                <label for="lastname">
                                    <span style="margin-right: 4px; padding:2px;font-style: italic;font-weight: bold;border: aliceblue 2px;background-color: aliceblue;border-style: inset;">
                                        Nom 
                                    </span>
                                </label>
                                <input type="text" id="lastname" name="lastname" required/>
                            </section>
                            <br>
                        </li>
                        <li>
                            <!--it's the secret key gived when a club is created-->
                            <section>
                                <label for="club_secret_key">
                                    <span style="margin-right: 4px; padding:2px;font-style: italic;font-weight: bold;border: aliceblue 2px;background-color: aliceblue;border-style: inset;">
                                        Clé du club 
                                    </span>
                                </label>
                                <input type="text" id="club_secret_key" name="club_secret_key" required/>
                            </section>
                            <br>
                        </li>
                        <li>
                            <section>
                                <!--default = white belt-->
                                <label for="belt">
                                    <span style="margin-right: 4px; padding:2px;font-style: italic;font-weight: bold;border: aliceblue 2px;background-color: aliceblue;border-style: inset;">
                                        Couleur de ceinture 
                                    </span>
                                </label>
                                <select id="belt" name="belt">
                                    <option>White</option>
                                    <option>Blue</option>
                                    <option>Purple</option>
                                    <option>Brown</option>
                                    <option>Black</option>
                                </select>
                            </section>
                            <br>
                        </li>
                        <li>
                            <section>
                                <label for="fav_submission">
                                    <span style="margin-right: 4px; padding:2px;font-style: italic;font-weight: bold;border: aliceblue 2px;background-color: aliceblue;border-style: inset;">
                                        Ta soumission préferée 
                                    </span>
                                </label>
                                <input type="text" id="fav_submission" name="fav_submission" required/>
                            </section>
                            <br>
                        </li>
                        <li>
                            <section>
                                <label for="fav_passage">
                                    <span style="margin-right: 4px; padding:2px;font-style: italic;font-weight: bold;border: aliceblue 2px;background-color: aliceblue;border-style: inset;">
                                        Ton passage préferé
                                    </span>
                                </label>
                                <input type="text" id="fav_passage" name="fav_passage" required/>
                            </section>
                            <br>
                        </li>
                        <li>
                            <section>
                                <label for="fav_guard">
                                    <span style="margin-right: 4px; padding:2px;font-style: italic;font-weight: bold;border: aliceblue 2px;background-color: aliceblue;border-style: inset;">
                                        Ta garde préferée 
                                    </span>
                                </label>
                                <input type="text" id="fav_guard" name="fav_guard" required/>
                            </section>
                            <br>
                        </li>
                        <!--button to submit form-->
                        <div class="item-button_create_user">
                            <button type="submit">Créer un compte</button>
                        </div>
                    </ul>
                </div>
            </form>
            <div class="item-button_rollback">
                <!--form for url rollback-->
                <form action="{% url 'index' %}" method="get">
                    <button type="submit">Retour</button>
                </form>
            </div>
    </div>
</body>
</html>

