<!--Create a club form:
-club name
-secret key (six randomized char generated) >>> used by users for the inscription
-->

<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Création de club</title>
<!--load the static files for css and link-->
{% load static %}
<link rel="stylesheet" href="{% static 'accounts/css/create_club.css' %}">
</head>
<body>
    <!--set the container for the header/title-->
    <header> 
        <h1> <span style="font-size: 150%;font-weight: bold;">Créez ton club</span></h1> 
        <div class="belt_dan"></div>
        <div class="logo_header"><img src="{% static 'accounts/images/oss.png' %}" alt="Logo Website" class="logo"></div>
    </header>
    <!--create a container to manipulate items-->
    <div class="grid-container_create_club">
        <!--form to create a club using informations-->
        <form action="{% url 'create_a_club' %}" method="post">
            {% csrf_token %}
            <div class="item-form_club">
                <ul>
                    <li>
                        <section>
                            <label for="club_name">
                                <span style="margin-right: 4px; padding:2px;font-style: italic;font-weight: bold;border: aliceblue 2px;background-color: aliceblue;border-style: inset;">
                                        Nom du club
                                </span>
                            </label>
                            <input type="text" id="club_name" name="club_name" required/>
                        </section>
                        <br>
                    </li>
                    <li>
                    <!--the secret key is only to permit each user join the good club (called secret key but it's just to make differences between same name club)-->
                        <section>
                            <label for="secret_key">
                                <span style="margin-right: 4px; padding:2px;font-style: italic;font-weight: bold;border: aliceblue 2px;background-color: aliceblue;border-style: inset;">
                                    Clé Secrète 
                                </span>
                            </label>
                            <input type="text" id="secret_key" name="secret_key" value="{{ secret_key }}" required readonly/> <br>
                            <label for="secret_key">
                                <span>
                                    (à conserver pour l'inscription des adhérents)&nbsp;
                                </span>
                            </label>
                        </section>
                    </li>
                    <!--button to submit-->
                    <div class="item-button_create_club">
                        <button type="submit">Créer un club</button>
                    </div>
                </ul>
            </div>
            <div class="item-button_rollback">
                </form>
                <!--form for url rollback-->
                <form action="{% url 'index' %}" method="get">
                    <button type="submit">Retour</button>
                </form>
            </div>
    </div>
</body>
</html>

