<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login</title>
<!--load static files for css and link-->
{% load static %}
<link rel="stylesheet" href="{% static 'accounts/css/login.css' %}">
</head>
<body>
    <!--set the container for the header/title-->
    <header> 
        <h1> <span style="font-size: 150%;font-weight: bold;">Connexion au compte</span></h1> 
        <div class="belt_dan"></div>
        <div class="logo_header"><img src="{% static 'accounts/images/oss.png' %}" alt="Logo Website" class="logo"></div>
    </header>
    <!--set a container to manipulate items-->
    <div class="grid-container_login">
            <!--form to log an user-->
            <form action="{% url 'account_login' %}" method="post">
                {% csrf_token %}
                <!--container contains all label to log an user (all required)-->
                <div class="item-login">
                    <li>
                        <div class="item-username">
                            <section>
                            <label for="username">
                                <span style="margin-right: 4px; padding:2px;font-style: italic;font-weight: bold;border: aliceblue 2px;background-color: aliceblue;border-style: inset;">
                                    Nom d'utilisateur 
                                </span>
                            </label>
                            <input type="text" id="username" name="username" required/>
                            </section>
                        </div>
                        <br>
                    </li>
                    <li>
                        <div class="item-password">
                            <section>
                            <label for="password">
                                <span style="margin-right: 4px; padding:2px;font-style: italic;font-weight: bold;border: aliceblue 2px;background-color: aliceblue;border-style: inset;">
                                    Mot de passe 
                                </span>
                            </label>
                            <input type="password" id="password" name="password" required/>
                            </section>
                        </div>
                    </li>
                </div>
                <!--button to submit-->
                <div class="item-button_login">
                    <section>
                        <button type="submit">Se connecter</button>
                    </section>
                </div>
                        {% if messages %}
                    <ul>
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                        {% endif %}
            </form>
            <div class="item-button_rollback">
                <!--form for url rollback-->
                <form action="{% url 'index' %}" method="get">
                    <section>
                        <button type="submit">Retour</button>
                    </section>
                </form>
            </div>
    </div>
</body>
</html>