<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login</title>
</head>
<body>
<h1>Connexion au compte</h1>
    <form action="{% url 'account_login' %}" method="post">
        {% csrf_token %}
        <ul>
            <li>
                <label for="username">Nom d'utilisateur&nbsp;</label>
                <input type="text" id="username" name="username" required/>
            </li>
            <li>
                <label for="password">Mot de Passe&nbsp;</label>
                <input type="password" id="password" name="password" required/>
            </li>
            <div class="button">
            <button type="submit">Se connecter</button>
            </div>
            {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
            {% endif %}
        </ul>
    </form>
</body>
</html>