body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  height: 100%;
  width: 100%;
  background-color: #D3D3FF;
  background-image: 
    url("../images/purple_belt.png"),
    url("../images/white_belt.png");
  background-repeat: repeat,repeat;
  background-size: 150px,150px;
  background-position: 0 0, 75px 50px;
}



header {
  position: relative;
  background-color: #9400D3;
  width: 100%;
  margin:0;
  padding: 20px;
  box-sizing: border-box;
  border-top: none;
  border-right: outset #8B008B;
  border-bottom: outset #9966CC;
  border-left: none;
  border-radius: 2px;
  box-shadow: 1px 0 5px 10px rgba(0,0,0,0.3);
}

.belt_dan {
  position: absolute;
  right: 10%;
  top: 0%;
  width: 250px;
  height: 100%;
  background-color: black;
  border-bottom: outset black;
  z-index: 1;
}
.logo_header {
  position: absolute;
  height: 100%; 
  display: flex;
  right: 0;
  top: 0;
  align-items: center; 
  z-index: 1;
}

.logo {
  height: 100%; 
  width: auto;  
  z-index: 1;
}

h1 {
  text-align: center;
  color: aliceblue;
}
/*set the main grid container in flexbox column */
.grid-container_badges_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  width: 100%;
  min-height: 100vh;
}



/*set the grid for dispaly all badges (4 columns) spaced by 75 px and a border around each badges*/
.item-all_badges ul {
  margin-top: 2% ;
  display: grid;
  font-size: 0.85rem;
  grid-template-columns: repeat(4, minmax(200px, 300px));
  gap: 2rem;
  column-gap: 75px;
  padding: 0;
  margin: 0 fit-content;
  width: 100%;
}

.item-all_badges li {
  text-align: center;
  list-style: none;
  border: 2px #A47DAB outset;
  border-radius: 5%;
  padding: 10px;
  background-color: #9966CC;
}



/*set buttons style*/
button {
  background-color: #074D9C;
  color: aliceblue;
  border: outset #033c7d;
  padding: 0.3rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #217de7;
}