<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajout de drill</title>
</head>
<body>
<h1>Ajouter un drill</h1>
    <form action="{% url 'add_drill' %}" method="post">
        {% csrf_token %}
        <!--the form to create a drill with his name and desc, button to submit-->
        <ul>
            <li>
                <label for="name">Nom du drill&nbsp;</label>
                <input type="text" id="name" name="name" required/>
            </li>
            <li>
                <label for="description">Description du drill&nbsp;</label>
                <input type="text" id="description" name="description" required/>
            </li>
            <button type="submit">Ajout du drill</button>
        </ul>
    </form>
    <!--The button to comeback in the previous page-->
    <form action="{% url 'drills_log' %}" method="get">
        <button type="submit">Retour</button>
    </form>
</body>
</html>