<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Journal de Drill</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'drills/css/style.css' %}">
</head>
<body>
<h1>Journal de Drill</h1>
    <!--display all the drill using format (name : description)-->
    <form action="{% url 'checkbox_drill' %}" method="post">
        {% csrf_token %}
        <ul>
            {% for drill in all_user_drill %}
                <li>
                    <label for="drill_{{ drill.id }}">{{ drill.name }}: {{ drill.description }}<br>Mots clés associés: {{ drill.keyword }}</label>
                    <input type="checkbox" id="drill_{{ drill.id }}" name="drill_check" value="{{ drill.id }}">
                </li>
            {% endfor %}
        </ul>
            <!--Buttons to delete or check if a drill is complete-->
            <button type="submit" id="submit_btn" name="action" value="delete" onclick="return confirm('Voulez-vous vraiment supprimer ces drills ? (Aucun point ne vous seront attribués)');" disabled>Supprimer un drill</button>
            <button type="submit" id="submit_btn" name="action" value="accomplish" onclick="return confirm('Avez vous assez drillé ?');" disabled>Drill accompli</button>
    </form>
    <!--form to add drill-->
    <form action="{% url 'add_drill' %}" method="get">
        <button type="submit">Créer un drill</button>
    </form>
    <!--form for url rollback-->
    <form action="{% url 'home' %}" method="get">
        <button type="submit">Retour</button>
    </form>
    <!--load the js script for popup confirmation (permit to enabled the activation of deletion or accomplish button if at least a box is checked)-->
    <script src="{% static 'drills/js/script.js' %}"></script>
</body>
</html>
