<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Journal de Drill</title>
<!--load static file for css and link-->
{% load static %}
<link rel="stylesheet" href="{% static 'drills/css/drills_log.css' %}">
</head>
<body>
  <!--set the grid to manipulate items-->
  <div class="grid-container_drills_log">
    
    <div class="title-drills_log">
      <header><h1>Journal de Drill</h1></header>
    </div>

    <!--create a dynamic list which grows with the add of user drills-->
    <form action="{% url 'checkbox_drill' %}" method="post">
      {% csrf_token %}
      <div class="item-all_drills">
        <ul>
          {% for drill in all_user_drill %}
            <li>
              <label for="drill_{{ drill.id }}">
                {{ drill.name }} : {{ drill.description }}<br>
                Mots clés associés : {{ drill.keyword }}
              </label>
              <input type="checkbox" id="drill_{{ drill.id }}" name="drill_check" value="{{ drill.id }}">
            </li>
          {% endfor %}
        </ul>
      </div>

      <!--create a row of 4 buttons-->
        <!--the 2 buttons to submit if the drill is to delete or to accomplish-->
      <div class="buttons-row">
        <button type="submit" name="action" value="delete" onclick="return confirm('Voulez-vous vraiment supprimer ces drills ?');" disabled>Supprimer drill(s)</button>

        <button type="submit" name="action" value="accomplish" onclick="return confirm('Avez-vous assez drillé ?');" disabled>Drill(s) accompli</button>
        <!--the 2 buttons to go in the page to add a drill or rollback url at the user homepage-->
        <button type="submit" formaction="{% url 'add_drill' %}" formmethod="get">Créer un drill</button>

        <button type="submit" formaction="{% url 'home' %}" formmethod="get">Retour</button>
      </div>
    </form>
    <!--connect the js script to handle the checked boxes-->
    <script src="{% static 'drills/js/script.js' %}"></script>
  </div>
</body>
</html>
